/*Logo setting*/
.logo {
    font-family: fantasy;
    text-shadow: 5px 5px 10px #404240 ;
}


.bg-alert {
    background-color: rgba(183, 245, 176, 0.7)
}

tr:nth-child(even) {
  background-color: #daf7e2;
}

form label{
    font-weight: bold;
}

/*styling for the previews for all the dishes*/
.preview-box {
    height: 200px;
    width : 200px;
}
.preview-box img {
    max-width: 100%;
    height: auto;
    /*z-index : -1;*/
}

/*display background image*/
section {
    height: 100vh;
    background-image: url('/static//images/carrots-food-fresh-freshness-616401.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-white {
    background-color: white;
}



