
{% extends 'base.html' %}
{% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} 
{% block content %}
<h1>Paynow Page </h1>
<form method="POST">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="Paynow"
          data-amount="{{amount}}"
          data-locale="auto"></script>
    <input type='hidden' name='amount' value='{{amount}}'/>
</form>
{%endblock%}
