{% extends 'base.html' %} 
{% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} 
{% block content %}
<main class='mt-5 p-5'>
{% if request.user.username %}
    Logged In As:{{request.user.username}}
    {% endif %}
    
    <hr> {% if messages %}
    <div>
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}


<ul>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li>Profile</li>
    
    <li> <a href="{% url 'login' %}">Login</a></li>
    <li>Register</li>
</ul>
</main>
{% endblock %}