{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} 
{% block content %}
<section class='mt-5 p-5'>  
    <div class='w-75 p-5 bg-light rounded'>

        <h1>Registration</h1>
        <form method='POST'>
             {% csrf_token %}
             {{ form|crispy}}
             <input type="submit">
        </form>
        <hr> 
        {% if messages %}
        <div class='text-danger'>
            {% for message in messages %} <i>{{ message }}</i> {% endfor %}
        </div>
        {% endif %}
        <p>If you already have an account, you can <a href="{% url 'login' %}">sign in </a></p>
    </div>
    
</section>
{% endblock %}