{% extends 'base.html' %} 
{% block page_title %}No. 1 Food Recipe | Enjoy the best food in life !{% endblock %} 
{% block content %}
<section class='mt-5 p-5'>
    
    <h1>May our food bring you warmth and growth in the very best way</h1>
    <!--Load data -->
    <div class="row bg-light">
        {% for d in data %}

        <div class="col-3 p-5">
            <strong>{{ d.dish_name }}</strong>
            <p> {{ d.dish_info }} </p>
            <div class="row d-flex justify-content-around text-light">
                <a class="btn btn-dark"> ${{ d.dish_price }}</a>
                <a class="btn btn-success"> Place an order </a>
                <a class="btn btn-danger" href= "confirm_delete_dish/{{d.id}}"> Delete</a>
            </div>
                
        </div>
        {% endfor %}

    </div>
    
    
    
       
</section>
{% endblock %}